footer{
  position: relative;
  bottom: 0px;

  height: fit-content;
  background-color: rgba(1, 1, 1, 0.476);
  padding: 20px 30px 20px 30px;
}
.main-footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
  
}
.sub-Div-footer-main{
 
  width: 150px;
}
.sub-Div-footer{
  padding-top: 50px;
  width: 150px;
}
.title-footer{
  font-size: larger;
  font-weight: 600;
  color: white;
  
}
.desc-footer{
  padding-top: 10px;
  font-size: medium;
  font-weight: 100;
  color: rgb(217, 217, 217);
  font-size: large;
}
.desc-footer a{
  color: rgb(217, 217, 217);
  text-decoration: none;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.desc-footer a img{
 padding: 10px;
}
.desc-footer a:hover{
  color: white;
  font-weight: bold;
}

.sub-desc-footer{
  display: flex;
  flex-direction: column;
}
.footer-icons{
  display: flex;
  
  flex-direction: row;
}
.footer-icons div{
  padding-left: 10px;
}
a i:hover{
  -webkit-animation-name: fa-beat;
  animation-name: fa-beat;
  -webkit-animation-delay: var(--fa-animation-delay,0s);
  animation-delay: var(--fa-animation-delay,0s);
  -webkit-animation-direction: var(--fa-animation-direction,normal);
  animation-direction: var(--fa-animation-direction,normal);
  -webkit-animation-duration: var(--fa-animation-duration,1s);
  animation-duration: var(--fa-animation-duration,1s);
  -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
  animation-iteration-count: var(--fa-animation-iteration-count,infinite);
  -webkit-animation-timing-function: var(--fa-animation-timing,ease-in-out);
  animation-timing-function: var(--fa-animation-timing,ease-in-out);
}