
.fa-star,
.fa-star-o,
.fa-star-half-o {
    color: white;
    font-size: 25px !important;
}

.progress,
.progress-2,
.progress-3,
.progress-4,
.progress-5 {
    background: #F5F5F5;
    border-radius: 13px;
    height: 18px;
    width: 97%;
    padding: 3px;
    margin: 5px 0px 3px 0px;
}

.progress:after,
.progress-2:after,
.progress-3:after,
.progress-4:after,
.progress-5:after {
    content: '';
    display: block;
    background: #666262;
    width: 35%;
    height: 100%;
    border-radius: 9px;
}

.progress-2:after {
    width: 40%;
}

.progress-3:after {
    width: 10%;
}

.progress-4:after {
    width: 5%;
}

.progress-5:after {
    width: 10%;
}

.loader-rating {
    display: inline-block;
    width: 500px
}



.user-img img {
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 50%;
}



.user-img {
  
    text-align: center;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #4a4a4a;
}

.rate:not(:checked)>label:before {
    content: "★ ";
}

.rate>input:checked~label {
    color: #fcfcfc;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #fcfcfc;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #fcfcfc;
}




