.st-container{
  height: 100%;
  overflow-y: scroll;
}
.st-pusher,
.st-content {
	height: 100%;
  
}
.st-container {
  z-index: -1;
	position: fixed;
	/* overflow: hidden; */
}
.st-menu {
	position: relative;
	top: 0;
	left: 0;
	
	visibility: hidden;
	height: 100%;	
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}


/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;
}
.st-pusher {
	position: relative;
	left: 0;
	/* z-index: 99; */
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
  height: fit-content;
}


aside {
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: fit-content;
    min-height: 100%;
    background-image: linear-gradient(30deg , #000000,#2e2e2e);
    border-top-right-radius: 80px;
  }
  
  aside a {
    font-size: 12px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color:transparent;
  }
  
  aside a:hover {
    color: #000000;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .active-drawer-menu{
    color: #000000;
    background: #c54848;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  aside a i {
    margin-right: 5px;
  }
  
  aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
  }
  
  aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
  }
  
  aside p {
    margin: 0;
    padding: 10px 0;
  }
  

  .catagories{
    text-decoration: none;
    list-style: none;
   
  }
  .catagories a:hover{
    color: #000000;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  

 /* .catagories:hover .sub-menu{
  display: block;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
 } */
 .sub-menu-open{
  display: block !important;
  
 } 


 .hover:hover{
    color: #000000;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .hover-clicked{
    color: #000000;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 
 .catagories::marker .sub-menu{
    display: block;
 }
 .sub-menu{
    display: none;
    
 }
 .sub-menu-active{
    display: block;
 }

 


.dropdown {
  /* padding: 20px 40px; */
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fff;
  background: #c06162;
  background: #34495e; */
  /* color: rgb(178, 178, 178); */
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
 
}


.dropdown:hover {
  
  cursor: pointer;
  
}
.dropdown:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
.dropdown_menu_extended{
  width: 300px !important;
}

.dropdown_menu li {
  display: none;
  color: #ffffff;
  background-color: #131313b1;
  padding: 10px 20px;
  font-size: 20px;
  opacity: 0;
}

.dropdown-list-a{
  color: white !important;
}
.dropdown-list-a:hover{
  color: black !important;
}

.dropdown_menu li:hover {
  background-color: #ffffff;
  color: #000000;
}
.dropdown_menu li:hover .dropdown_menu ul li a{
  
  color: #000000!;
}

.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
}

.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}
.dropdown_item a{
  color: white !important;
}
.dropdown_item:hover a{
  color: black !important;

}

.dropdown_menu-1 .dropdown_item-1 {
  transform-origin: top center;
  animation: slideDown 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-2 {
  transform-origin: top center;
  animation: slideDown 300ms 120ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-3 {
  transform-origin: top center;
  animation: slideDown 300ms 180ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-4 {
  transform-origin: top center;
  animation: slideDown 300ms 240ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-5 {
  transform-origin: top center;
  animation: slideDown 300ms 300ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-6 {
  transform-origin: top center;
  animation: slideDown 300ms 360ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-7 {
  transform-origin: top center;
  animation: slideDown 300ms 420ms ease-in-out forwards;
}
.dropdown_menu-1 .dropdown_item-8 {
  transform-origin: top center;
  animation: slideDown 300ms 480ms ease-in-out forwards;
}

@-moz-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

